/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
  font-family: 'josefin';
  src: local('josefin'), url(./assets/fonts/JosefinSans-Thin.ttf) format('ttf');
}

body {
    font-family: 'josefin';
    font-size: 12px !important;
}
